@font-face {
    font-family: "Roboto Condensed";
    src: url("./fonts/RobotoCondensed-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Roboto Condensed";
    font-style: italic;
    src: url("./fonts/RobotoCondensed-Italic-VariableFont_wght.ttf");
}

html, body {
    padding: 0;
    margin: 0;
    font-family: "Roboto Condensed";
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #555;
}

::-webkit-scrollbar-thumb {
    background-color: #acf;
    border-radius: 1px;
    border: 1px solid #00000066;
}

a {
    cursor: pointer;
    color: #005;
    &:hover {
        text-shadow: 0 0 5px #00005533;
    }
}
